
src/host/hello_rustee

src/host/main.o

src/ta/.rustee_ta.o.cmd

src/ta/.rustee_ta.o.d

src/ta/.ta_entry_a32.o.cmd

src/ta/.ta_entry_a32.o.d

src/ta/.ta.ld.d

src/ta/.user_ta_header.o.cmd

src/ta/.user_ta_header.o.d

src/ta/8d22f026-eb0a-4401-b575-5cf59327119b.dmp

src/ta/8d22f026-eb0a-4401-b575-5cf59327119b.elf

src/ta/8d22f026-eb0a-4401-b575-5cf59327119b.map

src/ta/8d22f026-eb0a-4401-b575-5cf59327119b.stripped.elf

src/ta/8d22f026-eb0a-4401-b575-5cf59327119b.ta

src/ta/rustee_ta.o

src/ta/ta_entry_a32.o

src/ta/ta.lds

src/ta/user_ta_header.o

*.o

src/rust/.cargo/.package-cache

/.idea